// start /components/footer_delunet/

link( rel="stylesheet", href="/components/footer_delunet/style.css" )
script( src="/components/footer_delunet/script.js" )

link( rel="stylesheet", href="/markup/components/footer_delunet/style.css" )
script( src="/markup/components/footer_delunet/script.js" )

footer.bj-page-footer-delunet.bj-page-footer-delunet--desktop
  .container-fluid

    .bj-page-footer-delunet__top
      a(href="/")
        img( src="/markup/images/headers/header_delunet/delunetlogowhite.svg" height="65" width="200" alt="")
      .bj-page-footer-delunet__top-right
        .yandex
          img(src="/markup/images/footer/yandex-metrika.png", alt="")
        .bj-page-footer-delunet__payment
          img( src="/markup/images/footer/mastercard-logo.svg" alt="")
          img( src="/markup/images/footer/dlyami-logo.svg" alt="")
          img( src="/markup/images/footer/mir-logo.svg" alt="")
          img( src="/markup/images/footer/sber-logo.svg" alt="")

    hr.i-size-M 

    .row 
      .col-sm-6
        .row
          .col-sm-6
            p <b>Адрес магазина:</b> Москва, пл. Киевского вокзала, 2, ТРЦ «Европейский», 1 этаж
            p <b>График работы:</b> ежедневно с 10:00 до 22:00
            p 8 (985) 459 50 55
            p info@delunet.ru
            p Copyright 2024 © Бутик de Lunettes
          .col-sm-6
            p ИП Антонюк Ольга Евгеньевна<br>ОГРНИП: 323508100604185<br>ИНН: 026825974304
      .col-sm-6
        .row
          .col-sm-4.bj-page-footer-delunet__menu
            a(href) О магазине
            a(href) Адрес
            a(href) Новости 
            a(href) Контакты
          .col-sm-4.bj-page-footer-delunet__menu
            a(href) Как купить
            a(href) Оплата
            a(href) Доставка 
            a(href) Гарантия
            a(href) Соглашение
            a(href) Конфиденцильность
          .col-sm-4.bj-page-footer-delunet__menu
            a(href) Солнцезащитные очки
            a(href) Оправа
            a(href) Изготовление очков
            a(href) Ремонт и сервисное обслуживание

    hr.i-size-M 

    .bj-page-footer-delunet__map

      .bj-page-footer-delunet__map-button
        span Подробнее
        span Скрыть

      script( type="text/javascript" charset="utf-8" async  data-skip-moving="true" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9a3b4f3b35152e97515bde9f309e6ceb807511f879176a1a71715f3e7bae58ca&amp;width=100%&amp;height=320&amp;lang=ru_RU&amp;scroll=false")
      
// end /components/footer_delunet/