// start /components/footer_delunet/

link( rel="stylesheet", href="/components/footer_delunet/style.css" )
script( src="/components/footer_delunet/script.js" )

footer.bj-page-footer-delunet
  .container-fluid

    .text-center
      a(href="/")
        img( src="/images/headers/header_delunet/delunetlogowhite.svg" height="65" width="200" alt="")

    hr.i-size-M 

    .bj-page-footer-delunet__menu
      a(href) О магазине
      a(href) Адрес
      a(href) Новости 
      a(href) Контакты
      a(href) Как купить
      a(href) Оплата
      a(href) Доставка 
      a(href) Гарантия
      a(href) Соглашение
      a(href) Конфиденцильность
      a(href) Солнцезащитные очки
      a(href) Оправа
      a(href) Изготовление очков
      a(href) Ремонт и сервисное обслуживание

    hr.i-size-XL

    .yandex.text-center
      img(src="/images/footer/yandex-metrika.png", alt="")

    hr.i-size-M

    .bj-page-footer-delunet__payment
      img( src="/images/footer/mastercard-logo.svg" alt="")
      img( src="/images/footer/dlyami-logo.svg" alt="")
      img( src="/images/footer/mir-logo.svg" alt="")
      img( src="/images/footer/sber-logo.svg" alt="")

    hr.i-size-XL 

    .bj-page-footer-delunet__map

      script( src="https://api-maps.yandex.ru/v3/?apikey=f4c3acf1-8588-4e23-83ec-d0a5ed538f82&lang=ru_RU" )

      #footerMap
        img(src="/images/footer/map.png" alt="")

    hr.i-size-XL 

    p <b>Адрес магазина:</b> Москва, пл. Киевского вокзала, 2, ТРЦ «Европейский», 1 этаж

    a(href="").bj-page-footer-delunet__open-btn Открыть в нвигаторе

    p <b>График работы:</b> ежедневно с 10:00 до 22:00

    hr.i-size-XL 

    .bj-page-footer-delunet__tel 8 (985) 459 50 55
    p info@delunet.ru

    hr.i-size-XL 

    p Copyright 2024 © Бутик de Lunettes
  .col-sm-6
    p ИП Антонюк Ольга Евгеньевна<br>ОГРНИП: 323508100604185<br>ИНН: 026825974304

    hr.i-size-M 

footer.bj-page-footer-delunet
  .container-fluid

    .bj-page-footer-delunet__top
      a(href="/")
        img( src="/images/headers/header_delunet/delunetlogowhite.svg" height="65" width="200" alt="")
      .bj-page-footer-delunet__top-right
        .yandex
          img(src="/images/footer/yandex-metrika.png", alt="")
        .bj-page-footer-delunet__payment
          img( src="/images/footer/mastercard-logo.svg" alt="")
          img( src="/images/footer/dlyami-logo.svg" alt="")
          img( src="/images/footer/mir-logo.svg" alt="")
          img( src="/images/footer/sber-logo.svg" alt="")

    hr.i-size-M 

    .row 
      .col-sm-6
        .row
          .col-sm-6
            p <b>Адрес магазина:</b> Москва, пл. Киевского вокзала, 2, ТРЦ «Европейский», 1 этаж
            p <b>График работы:</b> ежедневно с 10:00 до 22:00
            p 8 (985) 459 50 55
            p info@delunet.ru
            p Copyright 2024 © Бутик de Lunettes
          .col-sm-6
            p ИП Антонюк Ольга Евгеньевна<br>ОГРНИП: 323508100604185<br>ИНН: 026825974304
      .col-sm-6
        .row
          .col-sm-4.bj-page-footer-delunet__menu
            a(href) О магазине
            a(href) Адрес
            a(href) Новости 
            a(href) Контакты
          .col-sm-4.bj-page-footer-delunet__menu
            a(href) Как купить
            a(href) Оплата
            a(href) Доставка 
            a(href) Гарантия
            a(href) Соглашение
            a(href) Конфиденцильность
          .col-sm-4.bj-page-footer-delunet__menu
            a(href) Солнцезащитные очки
            a(href) Оправа
            a(href) Изготовление очков
            a(href) Ремонт и сервисное обслуживание

    hr.i-size-M 

    .bj-page-footer-delunet__map

      .bj-page-footer-delunet__map-button
        span Подробнее
        span Скрыть

      script( src="https://api-maps.yandex.ru/v3/?apikey=f4c3acf1-8588-4e23-83ec-d0a5ed538f82&lang=ru_RU" )

      #footerMap
        img(src="/images/footer/map.png" alt="")
      

// end /components/footer_delunet/